
@import "_main";
@import "_maintop";
@import "_control";
@import "_center";
@import "_burger";
@import "_time";
@import "_burger";
@import "_list";
@import "_option";
@import "reset";
$mainPink: #f09aa8;
$mainBlue: #a8f0ef;
//$centerWidth: 425px;

.mainBG {
    background: -webkit-linear-gradient($mainPink,$mainBlue);
    background: -o-linear-gradient($mainPink,$mainBlue);
    background: -moz-linear-gradient($mainPink,$mainBlue);
    background: linear-gradient($mainPink,$mainBlue);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: -webkit-linear-gradient($mainPink,$mainBlue);
  background: -o-linear-gradient($mainPink,$mainBlue);
  background: -moz-linear-gradient($mainPink,$mainBlue);
  background: linear-gradient($mainPink,$mainBlue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
